@mixin fonts($ff, $fw, $fs, $lh, $c) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $c;
}
    .drop-menu-wrapper {
        display: none;
    }
    .browse-select:hover {
    }