@mixin fonts($ff, $fw, $fs, $lh, $c) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $c;
}

.woman:hover .nav-bottom-wrapper-hover {
  display: block;
}

.woman:hover .woman-link {
  padding-bottom: 15px;
}

// Подчеркивание ссылок:hover
.nav-bottom-items a:hover {
  border-bottom: 3px solid #f16d7f;
  transition-duration: .1s;
  
}


// Треугольник
.header__nav-bottom-wrapper {
  &::before {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-bottom-color: #e8e8e8;
    top: -16px;
    left: 136px;
  }
  &::after {
    content: "";
    position: absolute;
    border: 8px solid transparent;
    border-bottom-color: white;
    top: -15px;
    left: 136px;
  }
}
// Треугольник конец

.header__nav-bottom-list {
}
.nav-bottom-wrapper-hover {
  display: none;
  position: absolute;
  top: 35px;
  left: -116px;
  z-index: 2;
}

.woman {
  position: relative;
}

.header__nav-bottom-wrapper {
  display: grid;
  column-gap: 46px;
  row-gap: 0;
  grid-template-columns: repeat(
    auto-fill,
    minmax(220px, 1fr) minmax(220px, 1fr) minmax(255px, 1fr)
  );
  grid-template-rows: 168px;
  padding: 21px 21px 19px 25px;
  max-width: 850px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  position: relative;

  &-box1 {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  &-box2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  &-box3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  &-box4 {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-left: 17px;
  }
  &-promo {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  &-title {
    @include fonts("Lato", 600, 14px, 32px, #232323);
    letter-spacing: 0.35px;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
  }
  &-items {
    a {
      @include fonts("Lato", 400, 14px, 28px, #646464);
      letter-spacing: 0.35px;
      text-transform: none;
      
    }
  }
}
