
.shopping__cart {
    margin-top: 85px;
    &-grid {
        display: grid;
        grid-template-columns: 4.7fr repeat(5, 1fr);
        row-gap: 26px;
        column-gap: 30px;
        align-items: center;
        border-bottom: 1px solid #eaeaea;
    }
    &-grid1, &-grid2, &-grid3 {
        margin-bottom: 26px;
        padding-bottom: 23px;
    }
    
    &-grid0 {
        margin-bottom: 25px;
        padding-bottom: 16px;
        .shopping__cart_product-details_h6 {
            @include fonts($lato, 700, 13px, 20px, #222222);
            letter-spacing: -0.2px;
            text-transform: uppercase;
        }
    }
    &-grid {
        ._cart-grid-position {
            justify-self: center;
        }
        ._cart-grid-position:nth-child(6) {
            justify-self: self-end;
        }
        ._cart-grid-font {
            @include fonts($lato, 600, 13px, 20px, #656565);
            letter-spacing: -0.2px;
            text-transform: uppercase;
        }
        .fa-times-circle-position {
            color: #c0c0c0;
            margin-right: 18px;
            cursor: pointer;
        }
    }
    .shopping__cart_product_input {
        border: 1px solid #eaeaea;
        width: 54px;
        height: 30px;
        padding-left: 10px;
    }
    
    &_product {
        &_block {
            display: flex;
            &_img {
                margin-right: 22px;
            }
            &_title {
                margin-top: 11px;
            }
            &_name {
                @include fonts($lato, 700, 13px, normal, $grey);
                text-transform: uppercase;
                margin-bottom: 32px;
                letter-spacing: 0.35px;
            }
            &_options {
                @include fonts($lato, 600, 13px, 20px, #575757);
                text-align-last: left;
                letter-spacing: normal;
                &_span {
                    @include fonts($latol, 600, 13px, normal, $light_grey);
                }
            }
        }
        

    }

    
}
.shopping__button {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 63px;
    &_font {
        @include fonts($lato, 700, 14px, normal, #4a4a4a);
        letter-spacing: -0.5px;
        padding: 15px 33px;
        border: 1px solid #eaeaea;
    }
}



.shopping__delivery {
    margin-bottom: 79px;
    display: flex;
    justify-content: space-between;
    &_adress {
    // Выбор страны Выбор страны Выбор страны Выбор страны
    // Выбор страны Выбор страны Выбор страны Выбор страны
        &-h6 {
        color: #222222;
        font-family: $lato;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 22px;
        }
        .shopping__delivery_adress_box::placeholder {
            @include fonts($lato, 300, 13px, 26px, #b1b1b1);
        }
        &_box {
            display: flex;
            width: 355px;
            @include fonts($lato, 300, 13px, normal, #b1b1b1);
            padding: 10px 0 18px 13px;
            border: 1px solid #e0e0e0;
        }
        .select-country__yu6px {
            padding: 13px 0 13px 13px;
        }
        &_indent {
                margin-top: 20px;
        }
        .shopping__delivery_adress_indent:first-child {
            margin-top: 0;
        }
        &_button {
            display: inline-block;
            border: 1px solid #e0e0e0;
            padding: 12px 15px 12px 10px;
            @include fonts($lato, 700, 11px, normal, #4a4a4a);
            text-transform: uppercase;

        }
    }
    &_totalcost {
        text-align: right;
        width: 355px;
        background-color: #f5f3f3;
        height: 235px; 
        padding: 40px;
        &-p {
            display: inline-block;
            @include fonts($lato, 600, 11px, normal, #4a4a4a);
            text-transform: uppercase;
        }
        .shopping__delivery_totalcost-p:last-of-type {
            padding-left: 22px;
        } 
        .shopping__delivery_adress-h6-collor {
            color: #f16d7f;
            padding-left: 22px;
        }
        .shopping__delivery_adress-h6-indent {
            padding: 14px 0 22px;
            border-bottom: 1px solid #e2e2e2;
            margin-bottom: 17px;

        }
        &-button {

            @include fonts($lato, 700, 16px, normal, $white);
            display: inline-block;
            text-transform: uppercase;
            padding: 18px 36px;
            background-color: #f16d7f;
            border: 1px solid #ff6a6a;
        }
    }
}