$lato: "Lato", sans-serif;
$latol: "Lato-Light";
$latob: "Lato-Black";
$pink: #f16d7f;
$grey: #222222;
$white: #fff;
$hover-ct: #ffafba;

// Адрес товара, шапка

.path-product {
  background-color: #f8f3f4;
  padding: 65px 0;
  &__content {
    display: flex;
    justify-content: space-between;
    &_title {
      color: $pink;
      font-family: $latob;
      font-size: 24px;
      line-height: 20px;
      text-transform: uppercase;
      line-height: normal;
    }
    ._title_path--list {
      display: flex;
      span {
        padding: 0 3px;
      }
      ._title_path--link {
        text-transform: uppercase;
        color: #636363;
        font-family: $latol;
      }
      ._title_path--link_active {
        font-family: $latob;
        color: $pink;
      }
    }
  }
}

// main товар
// Товар

.product-page__gallery {
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  padding-bottom: 51px;
  //   Разбивка на страницы
  &_pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //  Карусель товара
    &_arrow {
      cursor: pointer;
      color: $white;
      font-size: 24px;
      background-color: #d8d8d8;
      ._pagination_arrow-left {
        padding: 16px 17px 16px 14px;
      }
      ._pagination_arrow-right {
        padding: 16px 14px 16px 17px;
      }
    }
  }
}

// Параметры/описание выбранного товара

.product-page__descriptione {
  .description_container {
    border: 1px solid #eaeaea;
    background-color: $white;
    text-align: center;
    max-width: 1140px;
    position: relative;
    top: -85px;
  }
  &_desk {
    max-width: 645px;
    margin: 0 auto;
    border-bottom: 1px solid #eaeaea;
    padding-top: 73px;
    padding-bottom: 43px;
    &_category {
      @include fonts($lato, 700, 14px, 14px, $pink);
      text-transform: uppercase;
    }
  }
  &_pagination {
    width: 147px;
    border: 1px solid #eaeaea;
    display: inline-block;
    position: relative;
    &_bullet_active {
      display: inline-block;
      width: 63px;
      height: 4px;
      background-color: #ef5b70;
      position: absolute;
      top: -2px;
      left: 38px;
    }
  }
  &_desk_product-name {
    @include fonts($latob, 400, 18px, 24px, #4d4d4d);
    text-transform: uppercase;
    margin-top: 8px;
    margin-bottom: 57px;
  }
  &_desk_description-text {
    @include fonts($lato, 400, 14px, 24px, #5e5e5e);
    margin-bottom: 15px;
  }
  &_desk_product-attributes {
    max-width: 335px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 30px;
    &_material,
    &_designer {
      @include fonts($lato, 700, 14px, 24px, #b9b9b9);
      text-transform: uppercase;
    }
    &_material-collor,
    &_designer-collor {
      color: #2f2f2f;
    }
  }
  &_desk_product_prise {
    @include fonts($lato, 700, 24px, 24px, #ef5b70);
    text-transform: uppercase;
  }
  //   Фильтр по параметрам
  &_filter {
    max-width: 645px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 122px;

    &_toggle {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      ._toggle--choose-collor,
      ._toggle--choose-size,
      ._toggle--choose-quantity {
        &_title {
          @include fonts($lato, 700, 14px, 24px, #2f2f2f);
          text-transform: uppercase;
          padding-bottom: 10px;
          text-align: left;
        }
      }
      ._toggle--choose-collor_box,
      ._toggle--choose-size_box,
      ._toggle--choose-quantity_box {
        width: 144px;
        height: 35px;
        border: 1px solid #eaeaea;
        padding: 0 15px 0 15px;
        @include fonts($lato, 400, 13px, 24px, #bcbcbc);
      }
    }
  }
}
// Кнопка
.product-page__descriptione_filter_button {
  display: flex;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  margin: 28px auto 0;
  padding: 16px 205px 15px 205px;
  ._button--text {
    @include fonts($lato, 700, 16px, normal, #ef5b70);
    padding-left: 15px;
  }
}

// Предложения товаров
.product-page__mightlike {
  &_title {
    text-align: center;
    margin-bottom: 73px;
  }
  &_subtitle {
    @include fonts($latob, 400, 24px, 24px, #4d4d4d);
    text-transform: uppercase;
    padding-bottom: 72px;
    margin-top: 35px;
  }
  &_wrapper {
    display: flex;
    justify-content: space-between;
    // Предложение, карточки
    &_product-item:first-child {
      margin-left: 0;
    }
    &_product-item {
      display: grid;
      gap: 18px;
      grid-template-columns: 261px;
      grid-template-rows: 280px 1fr 0.8fr;
      margin-left: 15px;
      cursor: pointer;
      text-align: left;
      .product-item_img {
        width: 100%;
      }
      .product-item_desk {
        @include fonts($lato, 400, 14px, normal, #6f6e6e);
        text-transform: uppercase;
        padding-left: 14px;
      }
      .product-item_price {
        @include fonts($lato, 700, 16px, normal, #f16d7f);
        text-transform: uppercase;
        padding-left: 14px;
      }
    }
  }
}

// Медиа свыше 768px
@media (min-width: 768px) {
  .product-page__gallery_pagination_arrow :hover {
    background-color: #9c9b9b;
  }
}
