@import "_nullstyle";

// Шрифты

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

@font-face {
  font-family: "Lato-Black";

  src: url("https://nomail.com.ua/files/eot/9ff1710baadf935e7d7bc7c459fcabfe.eot?#iefix")
      format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/9ff1710baadf935e7d7bc7c459fcabfe.woff")
      format("woff"),
    url("https://nomail.com.ua/files/woff2/9ff1710baadf935e7d7bc7c459fcabfe.woff2")
      format("woff2");
}

@font-face {
  font-family: "Lato-Light";

  src: url("https://nomail.com.ua/files/eot/84ed8ff4f8f7fa78ec9476e0b1449fe3.eot?#iefix")
      format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/84ed8ff4f8f7fa78ec9476e0b1449fe3.woff")
      format("woff"),
    url("https://nomail.com.ua/files/woff2/84ed8ff4f8f7fa78ec9476e0b1449fe3.woff2")
      format("woff2");
}

@font-face {
  font-family: "Lato-Right";

  src: url("https://nomail.com.ua/files/eot/9ff1710baadf935e7d7bc7c459fcabfe.eot?#iefix")
      format("embedded-opentype"),
    url("https://nomail.com.ua/files/woff/9ff1710baadf935e7d7bc7c459fcabfe.woff")
      format("woff"),
    url("https://nomail.com.ua/files/woff2/9ff1710baadf935e7d7bc7c459fcabfe.woff2")
      format("woff2");
}

// Шрифты font-family: 'Lato', sans-serif; font-family: 'Lato-Black'; font-family: 'Lato-light'; font-family: 'Lato-Right';

@mixin fonts($ff, $fw, $fs, $lh, $c, $ta) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $c;
  text-align: $ta;
}
@mixin flexnav() {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Настройка Контейнера
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  //Навигация топ.

  .header__nav-top-box {
    @include flexnav();
  }
  .eader__box-left {
    min-width: 165px;
    @include flexnav();
  }

  .box-left-label {
    max-width: 59px;
    max-height: 51px;
  }

  .box-left-name {
    @include fonts("Lato", 300, 27px, 32px, #222222, center);
    span {
      @include fonts("Lato-Black", 400, 27px, normal, #f16d7f, center);
      letter-spacing: 0.68px;
    }
  }

  // навигация. Поиск с иконкой поиска
  .box-center-form {
    position: relative;
    width: 300px;
    margin: 0 auto;
  }
  input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 1.2px solid #9e9c9c;
    border-radius: 3px;
    opacity: 0.5;
    color: #9e9c9c;
  }
  button {
    position: absolute;
    top: 18px;
    right: 0px;
    width: 42px;
    height: 42px;
    border: 1.2px solid #9e9c9c;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    opacity: 0.5;
  }

  // Пример закончен

  // Навигация нижняя часть

  .brows-list {
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 32px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.35px;

    .brows-list-link-category {
      text-decoration: none;
      color: #232323;
    }
    .brows-list-link {
      color: #4f4f4f;
      line-height: 28px;
      text-transform: none;
    }
  }
}
